* binary
*.html binary

*.html linguist-language=none linguist-vendored=true linguist-generated=true linguist-documentation=true
*.htm linguist-language=none linguist-vendored=true linguist-generated=true linguist-documentation=true
*.css linguist-language=none linguist-vendored=true linguist-generated=true linguist-documentation=true
*.ejs linguist-language=none linguist-vendored=true linguist-generated=true linguist-documentation=true
*.html linguist-detectable=false
*.css linguist-detectable=false
